.parent {
    position: relative;
}
.parent > video {
    position: absolute;
    z-index: -1;
}
.container {
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
    overflow-y: hidden;
    height: 700px;
    background: url("../img/login/banner_02.png") no-repeat;
    background-size: 1300px 500px;
}
h2 {
    text-align: center;
}
.panel {
    border-radius: 2px;
    min-height: 100px;
    width:590px;
    height:430px;
    margin-left:510px;
    box-sizing: border-box;
    background:rgba(0,0,0,.4);
}
.form-group {
    margin-bottom: 20px;
}
.form-group > label {
    display: inline-block;
    width: 90px;
    text-align: right;
    color: #ffffff;
    font-size: 14px;
}
.form-group > input {
    padding:10px 20px;
    width:235px;
    margin-top: 12px;
    border-radius: 2px;
}
.form-group > span {
    width: 270px;
    color: #fff;
    padding: 4px;
    border-radius: 2px;;
}
.msg-default {
    background-color: #999;
}
.msg-error {
    background-color: #d00;
}
.msg-success {
    background-color: #0d0;
}
.hidden {
    display: none;
}
.true{
    position:relative;
    top:5px;
}
input[type="button"] {
    background-color:#1b8606;
    width: 276px;
    color: #fff;
    border-radius: 2px;
    margin-left:50px;
    margin-top:-10px;
}
#showResult{
    width: 258px;
    height: 30px;
    position: absolute;
    top: 330px;
    right: 135px;
    display: inline-block;
    line-height: 30px;
    font-size: 12px;
    color: #fff;
    padding-left: 8px;
}